# Windows system files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
.BIN/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*

# Editor and IDE directories
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Log files
*.log
